
.homePage {
  width: 100%;
  height: 100vh;
  padding-left: 15%;
  @include flex($direction: column, $justify: center, $align: flex-start);
  user-select: none;
  @include small {
    margin-top: -16px;
  }
}

.homePage__name {
  letter-spacing: 12px;
  @include small {
    font-size: em(65);
  }
}

.goToMusique {
  cursor: pointer;
}

.goToGalerie {
  cursor: pointer;
}