
/*
* define document variable
*/


$sizelogo: 100px;
$demilogo: calc(50% + 50px);

/*
* top navigation
*/

.topNav {
  width: $demilogo;
  position: fixed;
  right: 0;
  top: 0;
  @include flex($justify: space-between);
  padding-right: $leftRight;
  padding-top: 45px;
  z-index: 10;
  @include small {
    display: none;
  }
}

.topNav-logo__img {
  width: $sizelogo;
  height: auto;
}

.topNav__about {
  z-index: 10;
  font-size: em(18);
  opacity: 0.7;
  position: relative;
  transition: all $trans1 0.3s;
  &:after {
    content: '';
    position: absolute;
    top: calc(50% + 0.5px);
    left: 0;
    width: 100%;
    height: 2px;
    background: $white;
    transform: rotate(45deg) scale(0);
    transition: all $trans1 0.3s;
  }
  &:hover {
    opacity: 1;
    transition: all $trans1 0.2s;
    &::after {
      transform: rotate(45deg) scale(0.6);
      transition: all $trans1 0.2s;
    }
  }
}


/*
* bottom navigation
*/

.bottomNav {
  z-index: 10;
  width: 45%;
  position: fixed;
  left: 0;
  bottom: 0;
  @include flex($justify: space-around);
  padding-left: 91px;
  padding-bottom: 45px;
  @include small {
    display: none;
  }
}

.bottomNav__link {
  position: relative;
  font-size: em($size-social);
  opacity: 0.8;
  transition: all $trans1 0.3s;
  &:after {
    content: '';
    position: absolute;
    top: calc(50% + 0.5px);
    left: 0;
    width: 100%;
    height: 2px;
    background: $white;
    transform: rotate(45deg) scale(0);
    transition: all $trans1 0.3s;
  }
  &:hover {
    opacity: 1;
    transition: all $trans1 0.2s;
    &::after {
      transform: rotate(45deg) scale(0.6);
      transition: all $trans1 0.2s;
    }
  }
}

/*
* responsive Menu
*/

.responsiveMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  display: none;
  @include small {
    display: block;
  }
}

.responsiveMenu__nav {
  width: 100vw;
  padding-left: calc(50% - 40px);
  padding-right: 20px;
  padding-top: 20px;
  @include flex($justify: space-between);
}

.responsiveMenu__logo__img {
  width: 80px;
  height: auto;
}

.responsiveMenu__icones {
  width: 35px;
  height: auto;
  cursor: pointer;
  z-index: 9999999;
}

.responsiveMenu__close {
  display: none;
  width: 35px;
  height: auto;
  cursor: pointer;
  z-index: 9999999;
}

.responsiveMenu__content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100vw);
  padding: 35% 0;
  @include flex($direction: column, $justify: space-around);
}

.responsiveMenu__content__item {
  font-size: em(36);
  font-weight: $heavy;
  color: $white;
  opacity: 0;
  transform: translateY(20px);
  transition: all $trans1 0.2s;
}

.responsiveMenu--active {
  .responsiveMenu__icones {
    display: none;
  }
  .responsiveMenu__close {
    display: block;
  }
  .responsiveMenu__content {
    transform: translateX(0);
  }
  .responsiveMenu__content__item:nth-child(1) {
    opacity: 1;
    transform: translateY(0);
    transition: all $trans1 0.3s 0.5s;
  }
  .responsiveMenu__content__item:nth-child(2) {
    opacity: 1;
    transform: translateY(0);
    transition: all $trans1 0.3s 0.6s;
  }
  .responsiveMenu__content__item:nth-child(3) {
    opacity: 1;
    transform: translateY(0);
    transition: all $trans1 0.3s 0.7s;
  }
}

.responsiveMenu--return {
  .responsiveMenu__content {
    transform: translateX(0);
    transition: all $trans1 1 0.5s;
  }
  .responsiveMenu__content__item:nth-child(1) {
    opacity: 0;
    transform: translateY(0);
    transition: all $trans1 0.3s;
  }
  .responsiveMenu__content__item:nth-child(2) {
    opacity: 0;
    transform: translateY(0);
    transition: all $trans1 0.3s 0.1s;
  }
  .responsiveMenu__content__item:nth-child(3) {
    opacity: 0;
    transform: translateY(0);
    transition: all $trans1 0.3s 0.2s;
  }
}