.trans {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include flex();
  display: none;
  z-index: 100;
}

.trans--active {
  display: flex;
}

.trans__logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include flex();
  z-index: 105;
  opacity: 0;
  transition: all $trans1 0.3s;
}

.trans__single {
  position: relative;
  width: 25%;
  height: 100vh;
  overflow: hidden;
  &::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all $trans1 0.3s;
  }
}

.trans__logo--active {
 opacity: 1;
 transition: all $trans1 0.3s 0.5s;
}

.trans__logo--return {
 opacity: 0;
 transition: all $trans1 0.3s;
}

.trans__single--active {
  &::after {
    transform: translateX(-0);
  }
}

.trans__single--return {
  &::after {
    transform: translateX(100%);
  }
}

.trans__single {
  &--1 {
    &::after {
      background: #171717;
      transition: all $trans1 0.3s;
    }
  }
  &--2 {
    &::after {
      background: #141414;
      transition: all $trans1 0.3s 0.1s;
    }
  }
  &--3 {
    &::after {
      background: #0F0F0F;
      transition: all $trans1 0.3s 0.2s;
    }
  }
  &--4 {
    &::after {
      background:#000000;
      transition: all $trans1 0.3s 0.3s;
    }
  }
}

